<h1>Playlists By: <%= Profile.find(current_user.id).name %></h1>

<table>
<br/><br/><% @playlists.each do |playlist| %>
  <tr>
    <td><h2><%= playlist.name %>&nbsp;&nbsp;&nbsp;<br/></h2></td>
    <td><%= link_to 'Show', playlist %></td>
  </tr>
<% end %>
</table>
<div class="stuffalso" align="left">
<%= will_paginate @playlists %>
</div>
<br />
<% if user_signed_in? %>
<%= link_to 'New Playlist', new_playlist_path %>
<% end %>
<div class="prof" align="center">
<% if user_signed_in? %>
<br/>
Hey, <%= Profile.find(current_user.id).name %><br /><br />
<% @profile=Profile.find(current_user.id) %>
 <div id="userBadge" class="clearit user vcard" id="hcard">
                <div class="badgeAvatar">
                                            <span class="userImage">
  <%= image_tag @profile.image_url.to_s %><div class="userBadge	"> <a href="/profiles/<%= current_user.id %>/edit" >Edit Profile</a></div></span> </div>

  </div>

<% end %>
</div>